*{
    margin: 0;
    padding: 0;
}

.fundo {
    background-image: url(/wallpaper.jpg);
    height: 100vh;
    color: #fff;
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
}

.calculadora{
    position: absolute;
    background-color: rgba(0,0,0,0.8);
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border-radius: 15px;
    padding: 15px;
    overflow: hidden;

}

button{
    width: 50px;
    height: 50px;
    font-size: 25px;
    cursor: pointer;
    background-color: rgb(31, 31, 31);
    border:none;
    color: #22C2F6;
    margin: 3;
}

button:hover{
    background-color: #000;
}

.resultado{
    background-color: #fff;
    width:205px;
    height: 30px;
    margin: 5px;
    font-size: 25px;
    color: rgb(7, 0, 0);
    text-align: right;
    padding: 5px;
}
